---
layout: default
---

<article role="article">
  {% if page.title %}
  <header>
    <div class="back"><a href="/" onclick="history.go(-1);return false;">← Back</a></div>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
  {% endif %}
  <div class="entry-content">{{ content }}</div>
  {% unless page.footer == false %}
  <footer>
    <div class="articlemeta">
      <span class="hide">
        {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
      </span>
      <span class="plus">
        {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
          <a href="#disqus_thread" onclick="return false;" data-disqus-identifier="{% if post.meta.disqus_id %}{{ post.meta.disqus_id }}{% else %}{{ site.url }}{{ page.url }}{% endif %}">+</a>
        {% else %}
          <a href="#">+</a>
        {% endif %}
      </span>
      {% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
    </div>
  </footer>
  {% endunless %}
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <div class="hide" id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
