---
layout: default
---

{% assign index = true %}
<header>
  <div class="back">　</div>
  <h1 class="entry-title"><a href="{{ root_url }}/">{{ site.title }}</a></h1>
</header>
<ul class="blog-index">
  {% for post in paginator.posts %}
    {% assign first = 'false' %}
    {% if forloop.index == 1 %}
      {% assign first = 'true' %}
      {% assign content = post.content %}
    {% endif %}
    {% include article.html %}
  {% endfor %}
</ul>
<div class="pagination">
  {% if paginator.next_page %}
    <a class="prev" href="{{paginator.next_page}}">&larr; Older</a>
  {% endif %}
  {% if paginator.previous_page %}
  <a class="next" href="{{paginator.previous_page}}">Newer &rarr;</a>
  {% endif %}
</div>
